<div class="row" x-data="{ rightSide: false, leftSide: false }" *ngIf="member">
    <div class="main custombody col-12">
      <div class="main-container">
        <div class="profile">
          <div class="profile-avatar">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="" class="profile-img">
            <div class="profile-name">{{member.knownAs}}</div>
          </div>
          <img src="" alt="" class="profile-cover">
          <div class="profile-menu">
            <a class="profile-menu-link active" (click)="selectTab(0)">Timeline</a>
            <a class="profile-menu-link" (click)="selectTab(1)">About</a>
            <a class="profile-menu-link" (click)="selectTab(2)">Friends</a>
            <a class="profile-menu-link" (click)="selectTab(3)">Photos</a>
            <a class="profile-menu-link" (click)="selectTab(4)">Message</a>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-left">
            <div class="intro box">
              <div class="intro-title">
                Introduction
                <a class="intro-menu"></a>
              </div>
              <div class="info">
                <div class="info-item">
                  <strong>Location:</strong>
                  <a href="#">{{member.city}}, {{member.country}}</a>
                </div>
                <div class="info-item">
                  <strong>Age:</strong>
                  <a href="#">{{member.age}}</a>
                </div>
                <div class="info-item">
                  <strong>Last active:</strong>
                  <a href="#">{{member.lastActive | timeago}}</a>
                </div>
                <div class="info-item">
                  <strong>Member since:</strong>
                  <a href="#">{{member.created | date: 'dd-MMM-yyyy'}}</a>
                </div>
              </div>
            </div>
            <div class="pages box">
              <div class="intro-title">
                Your pages
                <button class="intro-menu" title="Menu"></button>
              </div>
              <div class="user">
                <img src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0f" alt="" class="user-img">
                <div class="username">Chandelio</div>
              </div>
              <div class="user">
                <img src="https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=d5849d81af587a09dbcf3f11f6fa122f" alt="" class="user-img">
                <div class="username">Janet Jolie</div>
              </div>
              <div class="user">
                <img src="https://images.unsplash.com/photo-1546539782-6fc531453083?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="user-img">
                <div class="username">Patrick Watsons</div>
              </div>
            </div>
          </div>
          <div class="timeline-right">
           <tabset class="right-view hide-headings" #tabSet >
            <tab heading="Timeline" ngClass="{'hide-heading': true}">
              Timeline will be implimented soon
            </tab>
            <tab heading="About" ngClass="{'hide-heading': true}">
              {{member.introduction}}
            </tab>
            <tab heading="Interests" ngClass="{'hide-heading': true}">
              {{member.interests}}
            </tab>
            <tab heading="Photos" ngClass="{'hide-heading': true}">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Message" ngClass="{'hide-heading': true}">
              Message not yet implimented</tab>
           </tabset>
          </div>
        </div>
      </div>
    </div>
    
   
  </div>