<div class="row gutters besic" *ngIf="member">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="{{member.photoUrl}}" alt="{{member.knownAs}}">
                    </div>
                    <h5 class="user-name">{{member.knownAs}}</h5>
                    <h6 class="user-email">{{member.lastActive}}</h6>
                </div>
                <div class="about">
                    <h5>About</h5>
                    <p [innerHTML]="member.introduction">{{member.introduction}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
  
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="alert alert-info pb-0" *ngIf="editMember.dirty">
            <p><strong>Information: </strong>You have made changes.  Any unsaved changes will be lost</p>
        </div>
   
    <div class="card h-100">
        <div class="card-body">
            <tabset class="editMemberTab">
                <tab heading="Personal Details">
                    <form id="editMember" #editMember = "ngForm"  (ngSubmit)="updateMember()">        
                       <div class="row gutters">
                           <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-2 text-primary">Personal Details</h6>
                    </div> -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" name="knownAs" [(ngModel)]="member.knownAs" id="fullName" placeholder="Enter full name">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <input type="text" class="form-control" id="gender" [(ngModel)]="member.gender" name="gender" placeholder="Enter phone number">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="introduction">Introduction</label>
                            <editor [apiKey]="mceApiKey" [init]="tinymceConfig"
                             name="introduction"  class="form-control" [(ngModel)]="member.introduction"  id="introduction" rows="6" ></editor>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="lookingFor">Looking For</label>
                            <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor" id="lookingFor" rows="6" ></textarea>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="interests">Interested In</label>
                            <textarea rows="6" class="form-control" id="interests" [(ngModel)] ="member.interests" name="interests" placeholder="What are you interested in"></textarea>
                        </div>
                    </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">Street</label>
                                    <input type="name" class="form-control" id="Street" placeholder="Enter Street">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">City</label>
                                    <input type="name" class="form-control" id="ciTy" name="city" [(ngModel)]="member.city" placeholder="Enter City">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="sTate">Country</label>
                                    <input type="text" class="form-control" id="sTate" name="country" [(ngModel)]="member.country" placeholder="Enter State">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zIp">Zip Code</label>
                                    <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                    </form>
                </tab>
           </tabset>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                    <div class="text-right">
                        <button type="submit" class="btn btn-success col-2" id="submit" name="submit" [disabled]="!editMember.dirty" form="editMember">Update Member</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>