<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>

<div class="modal-footer">
    <button class="btn btn-success" (click)="confirm()">{{btnOkText}}</button>
    <button class="btn btn-danger" (click)="decline()">{{btnCancleText}}</button>
</div> -->

<div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header flex-column">
            <div class="icon-box">
                <!-- <i class="material-icons">&#xE5CD;</i> -->
            </div>
            <h4 class="modal-title w-100">{{title}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <p>{{message}}.</p>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="confirm()">{{btnOkText}}</button>
            <button type="button" class="btn btn-danger" (click)="decline()">{{btnCancleText}}</button>
        </div>
    </div>
</div>