<div class="container">
    <div class="container" style="
    display: flex;
    justify-content: center;
    align-items: center;
">
        <div *ngIf="!registerMode" class="inner">
            <h1 class="cursive ">Where S<span style="color:#FF6969;font-size: 20px;">❤</span>ul find mate.</h1>
            <h4>Life is better when you share it with someone special.<br /> Meet.<span style="color:#FF6969;">ly</span> helps you find that special someone.
            </h4>
            <hr>
            <br>
            <a class="btn btn-xl" (click)="registerToggle()">Register</a> &nbsp; 
            <a href="#one" class="btn btn-xl page-scroll">Get Started</a>
        </div>
        <div *ngIf="registerMode">
            <app-register [userFromHome]="users"></app-register>
        </div>
    </div>
</div>
