<div class="row">
	<div class="col-3" *ngFor="let member of members">
		<app-member-card [member]="member"></app-member-card>
	</div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
	<pagination 
	[boundaryLinks]="false" 
	[totalItems]="pagination.totalItem"
	previousText="&lsaquo;"
	[itemsPerPage]="pagination.itemsPerPage"
	[maxSize]="10"
	[(ngModel)]="pagination.currentPage"
	(pageChanged)="pageChanged($event)"
	nextText="&rsaquo;"
	firstText="&laquo;" 
	lastText="&raquo;">
</pagination>
</div>