<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand" style="font-family: 'Dancing Script', cursive; font-size: 20px;" routerLink="/" >Meet.<span style="color:#FF6969;">Ly</span></a>
        
        <ul class="navbar navbar-expand-lg  me-auto my-2 my-lg-0 navbar-nav-scroll" style="list-style: none;" >
            <ng-container *ngIf="accountServices.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="click">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="click">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="click">Messages</a>
                </li>
                <li *appHasRole="['Admin','Modaretor']" class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="click">Admin</a>
                </li>
            </ng-container>
        </ul>
        
        <form *ngIf="!(accountServices.currentUser$ | async)" class="d-flex" #loginform="ngForm" (ngSubmit)="login()" autocomplete="off">
            <input name="Username" [(ngModel)]="model.Username" class="form-control me-2" type="text" placeholder="Username" aria-label="Search">
            <input name="Password" [(ngModel)]="model.Password" class="form-control me-2" type="password" placeholder="Password" aria-label="Search">
            
            <button class="btn btn-outline-success"  type="submit">Login</button>
        </form>



        <div class="nav-item dropdown" *ngIf="(accountServices.currentUser$ | async) as User " dropdown>
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" dropdownToggle>
            <img src="{{User.photoUrl || '/assets/user.png'}}" alt="User Photo">
        </a>
        <ul class="dropdown-menu mt-3" *dropdownMenu>
            <li><a class="dropdown-item" routerLink="member/edit">Edit Profile</a></li>
            
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
    </div>
</div>
</nav>